<div class="article">
	<div class="d-flex">
		<div>
			<div>
				<p>SOME OF</p>
				<p>HENDON’S</p>
				<p>AMAZING&#xa0;&</p>
				<p>PRACTICAL</p>
				<p>FEATURES</p>
			</div>
			<div>
				<p>ALL YOUR NEW</p>
				<p>WEBSITE NEEDS IS</p>
				<p>RIGHT HERE</p>
			</div>
			<a href="#" style="text-decoration: none;">
				<svg style="position: relative; top: 3rem; right: .5rem;">
					<polygon fill="white" points="49.525,14.265 48.898,15.044 54.481,19.541 6.444,19.541 6.444,20.541 54.464,20.541 48.901,24.954 49.522,25.737 56.7,20.044"></polygon>
				</svg>
				<div href="#" class="effect-2 color-2" style="box-shadow: inset 0 0 0 1px #dee2e6; display: inline-block; padding: .9rem; border-radius: 50%; position: relative; top: .25rem; right: 16.9rem;"></div>	
			</a>
		</div>
		<div class="menu">
			<a href="#">
				<img src="./images/menu-icon-1.png">
				<p>elementor</p>
			</a>
			<a href="#">
				<img src="./images/menu-icon-2.png">
				<p>templates</p>
			</a>
			<a href="#">
				<img src="./images/menu-icon-3.png">
				<p>floor plans</p>
			</a>
			<a href="#">
				<img src="./images/menu-icon-4.png">
				<p>support</p>
			</a>
			<a href="#">
				<img src="./images/menu-icon-5.png">
				<p>responsive</p>
			</a>
			<a href="#">
				<img src="./images/menu-icon-6.png">
				<p>typography</p>
			</a>
			<a href="#">
				<img src="./images/menu-icon-7.png">
				<p>flexible</p>
			</a>
			<a href="#">
				<img src="./images/menu-icon-8.png">
				<p>maps</p>
			</a>
		</div>
	</div>
</div>