<div class="d-flex header">
	<div class="text-uppercase float-left">
		<div>
			<a href="#"><img src="./images/header-logo.png" style="height: 55px; margin-bottom: 5rem;"></a>
			<p>single</p>
			<p>property</p>
			<p>& apartment</p>
			<p>showcase</p>
			<p>theme</p>
		</div>
		<div>
			<p>this is hendon. a new house</p>
			<p>to your properties</p>
			<div style="letter-spacing: 3px; border: 1px solid #c5885e; width: 250px;">
				<a href="#" class="effect-1" style="color: #c5885e; text-decoration: none;">purcharse</a>
			</div>
			<a href="#" class="forward" style="text-decoration: none;">
				<svg style="transform: rotate(90deg); position: relative; top:6rem; right: 11.8rem;">
					<polygon fill="#c5885e" points="49.525,14.265 48.898,15.044 54.481,19.541 6.444,19.541 6.444,20.541 54.464,20.541 48.901,24.954 49.522,25.737 56.7,20.044"></polygon>
				</svg>
				<div href="#" class="effect-2" style="box-shadow: inset 0 0 0 1px #844845; display: inline-block; padding: .9rem; border-radius: 50%; position: relative; right: 19.2rem; top: .5rem;"></div>
			</a>	
		</div>
	</div>
	<div class="d-flex position-relative header-img">
		<img src="./images/header-3.png" class="position-absolute
		img-header-3">
		<img src="./images/header-2.png" class="position-absolute img-header-2">
		<img src="./images/header-1.png" class="position-absolute img-header-1">
	</div>
</div>