<div class="section-1">
	<div>
		<p>HOMEPAGES</p>
		<p>A FINE SELECTION OF FLEXIBLE HOMES FOR SHOWCASING PROPERTIES</p>
	</div>
	<div class="section-1-container">
		<div class="effect-3 img-1">
			<a href="#">
				<img src="./images/content-1-img-1.jpg">
				<p>CAMDEN</p>
			</a>
			<p>SHOWCASE PROPERTIES</p>
		</div>
		<div class="effect-3 img-2">
			<a href="#">
				<img src="./images/content-1-img-2.jpg">
				<p>GREENWICH</p>
			</a>
			<p>PRESENT APARTMENTS</p>
		</div>
		<div class="effect-3 img-3">
			<a href="#">
				<img src="./images/content-1-img-3.jpg">
				<p>KENSINGTON</p>
			</a>
			<p>EXHIBIT RESIDENCES</p>
		</div>
		<div class="effect-3 img-4">
			<a href="#">
				<img src="./images/content-1-img-4.jpg">
				<p>FULHAM</p>
			</a>
			<p>DISPLAY PREMISES</p>
		</div>
		<div class="effect-3 img-5">
			<a href="#">
				<img src="./images/content-1-img-5.jpg">
				<p>CHELSEA</p>
			</a>
			<p>RENTAL ACCOMMODATION</p>
		</div>
		<div class="effect-3 img-6">
			<a href="#">
				<img src="./images/content-1-img-6.jpg">
				<p>SOUTHWARK</p>
			</a>
			<p>PRESENT EACH FLOOR</p>
		</div>
		<div class="effect-3 img-7">
			<a href="#">
				<img src="./images/content-1-img-7.jpg">
				<p>LAMBETH</p>
			</a>
			<p>FULLSCREEN SHOWCASE</p>
		</div>
		<div class="effect-3 img-8">
			<a href="#">
				<img src="./images/content-1-img-8.jpg">
				<p>COMING SOON</p>
			</a>
			<p>AND MORE TO COME</p>
		</div>
	</div>
</div>